:root {

    --primary-color: #00b4d8;
    --secondary-color: #1b263b;

    --dark-color: #0d1b2a;
    --light-color: #f8f9fa;

    --text-color: #333333;
    --white-color: #ffffff;

    --text-shadow: rgba(0, 0, 0, 0.5);
    --shadow-color: rgba(0, 0, 0, 0.1);

    --transition: 0.3s ease;

    --border-radius: 12px;

}
