.navbar {
    background-color: rgba(13, 27, 42, 0.9);
    padding: 1rem 0;
    transition: 0.3s ease;
}

.navbar-brand {
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.nav-link {
    color: white !important;
    font-weight: 500;
    transition: 0.3s;
}

.nav-link:hover {
    color: #00b4d8 !important;
}